body {
  background-color: #eceff1;
}

html, body, .chat {
  height: 100%;
}

.main {
  height: calc(100vh - 64px);
  margin-top: 64px;
}

.main .messages {
  overflow-y: scroll;
  height: calc(100% - 204px);
}

.main > .col {
  margin-top: 0;
  margin-bottom: 0;
}
nav.main-nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #5c6bc0;
}

 .messages {
   list-style: none;
 }

#roomSelect {
  background-color: #eceff1;
}

#roomSelect a {
  font-size:1.5rem;
  line-height:2rem;
  color: #607d8b;
}

 .messages .row {
   padding:0;
   margin:0;
 }

.material-icons {
  vertical-align:bottom;
}
